body{
    background-color: rgb(230, 196, 255);
    font-family: 'Times New Roman';
}

/* navbar starts */

ul{
    background-color: rgb(234, 126, 230);
    list-style: none;
    margin: 0;
    padding: 3px;
}

ul{
    display:flex;
    justify-content: center;
}

li{
    border: 2px;
    font-size: 30px ;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

li a{
    justify-content: center;
}

li :hover{
    background-color: rgb(210, 17, 210);
}
/* navbar ends */

/* header and footer starts*/

header{
    text-align: center;
    font-family: 'Gill Sans','sans-serif';
}

footer{
    background-color: #333;
    color:white;
    padding:20px 0;
    text-align: center;
}

/* header and footer ends */

/* image starts */
img{
    height:500;
    width: 400px;
    border-radius: 50px;
}

.store{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.store1image{
    margin-top: 25px;
}
.store2image{
    margin-top: 10px;
}
/* image ends */

/* paragraph starts */

.paragraph1{
    font-size: 20px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}
.paragraph2{
    font-size: 15px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

/* paragraph ends */
